*{
    margin: 0;
    padding: 0;
}
.PinTyperinputBox{
    margin: 0 !important;
    border: none;
}
table td input{
    padding: 10px 18px;
    margin: 6px;
    cursor: pointer;
    background-color: rgb(72, 82, 87) !important;
    color: white;
    border-radius: 8px;
    transition: .3s all;
}
table td input:hover{
    background-color: rgb(51, 50, 50) !important;
    transition: .3s all;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }